<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sweng500.Awse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sweng500.Awse.Properties.Settings>
            <setting name="AwseAccessKey" serializeAs="String">
                <value>AKIAJVMAE3QCDGSJGUVQ</value>
            </setting>
            <setting name="AwseSecretKey" serializeAs="String">
                <value>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</value>
            </setting>
            <setting name="EndpointConfigName" serializeAs="String">
                <value>AWSECommerceServicePort</value>
            </setting>
        </Sweng500.Awse.Properties.Settings>
    </applicationSettings>
</configuration>