<?xml version="1.0" encoding="utf-8" ?>
<client>
    <endpoint address="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding"
        contract="CommerceService.AWSECommerceServicePortType" name="AWSECommerceServicePort" />
    <endpoint address="https://webservices.amazon.ca/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding1"
        contract="CommerceService.AWSECommerceServicePortType" name="AWSECommerceServicePortCA" />
    <endpoint address="https://webservices.amazon.cn/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding2"
        contract="CommerceService.AWSECommerceServicePortType" name="AWSECommerceServicePortCN" />
    <endpoint address="https://webservices.amazon.de/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding3"
        contract="CommerceService.AWSECommerceServicePortType" name="AWSECommerceServicePortDE" />
    <endpoint address="https://webservices.amazon.fr/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding4"
        contract="CommerceService.AWSECommerceServicePortType" name="AWSECommerceServicePortFR" />
    <endpoint address="https://webservices.amazon.it/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding5"
        contract="CommerceService.AWSECommerceServicePortType" name="AWSECommerceServicePortIT" />
    <endpoint address="https://webservices.amazon.co.jp/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding6"
        contract="CommerceService.AWSECommerceServicePortType" name="AWSECommerceServicePortJP" />
    <endpoint address="https://webservices.amazon.co.uk/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding7"
        contract="CommerceService.AWSECommerceServicePortType" name="AWSECommerceServicePortUK" />
    <endpoint address="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding8"
        contract="CommerceService.AWSECommerceServicePortType" name="AWSECommerceServicePortUS" />
</client>
